@using OurRecipes.ViewModels
@model PasswordResetRequestViewModel

@{
    ViewBag.Title = "Password Reset Request";
    Layout = null;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("PasswordResetRequest", "Auth", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
}
