@{
    ViewData["Title"] = "Home Page";

    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    var home = (Home)ViewBag.Home;
    var about = (About)ViewBag.About;
    var contactInfo = (ContactInfo)ViewBag.ContactInfo;
    var categories = (List<RecipeCategory>)ViewBag.Categories;
    var chiefs = (List<Chief>)ViewBag.Chiefs;
    var testimonials = (List<Testimonial>)ViewBag.Testimonials;
    var recipesCount = ViewBag.RecipesCount;
    var usersCount = ViewBag.UsersCount;
    var chiefsCount = ViewBag.ChiefsCount;

}

@model Recipe
<!-- Blog Hero Begin -->
<div class="blog-hero set-bg" data-setbg="/recipesImage/@Model.RecipeMainImgPath">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-7">
                <div class="blog__hero__text">
                    <div class="label">Recipes</div>
                    <h2>@Model.RecipeName</h2>
                    <ul>
                        <li>By <span>@Model.Chief.User.UserName</span></li>
                        <li>@Model.CreatedAt</li>
                     
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Hero End -->
<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="blog__details__content">

                    <div class="blog__details__text">
                        <p>
                          @Model.RecipeDescription
                        </p>
                        <p>
                          
                        </p>
                    </div>
                    <div class="blog__details__recipe">
                        <div class="blog__details__recipe__item">
                            <h6><img src="img/blog/details/user.png" alt=""> SERVES</h6>
                            <span>@Model.RecipeServings persons</span>
                        </div>
                        <div class="blog__details__recipe__item">
                            <h6><img src="img/blog/details/clock.png" alt=""> PREP TIME</h6>
                            <span>@Model.RecipePreparingTimeMinutes minutes</span>
                        </div>
                        <div class="blog__details__recipe__item">
                            <h6><img src="img/blog/details/clock.png" alt=""> COOK TIME</h6>
                            <span>@Model.RecipeCookingTimeMinutes minutes</span>
                        </div>
                    </div>
                    <div class="blog__details__recipe__details">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog__details__ingredients">
                                    <h6>Ingredients</h6>
                                    <ul>
                                    @{
                                        foreach (var ingrd in Model.Ingredients) {
                                                <li><span>.</span> @ingrd.IngredientQuantity @ingrd.IngredientUnit.IngredientUnitName @ingrd.IngredientCustomName</li>

                                            }

                                        }



                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog__details__ingredients__pic">
                                    <img src="img/blog/details/blog-details.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog__details__direction">
                        <h6>Directions</h6>
                        <ul>

                            @{
                                int count = 0;
                                foreach (var prep in Model.RecipePreparationSteps)
                                {
                                    count++;
                                    <li>
                                        <span>@count .</span> @prep.RecipePreparationStepDescription
                                   </li>

                                }

                            }

                           
                          
                        </ul>
                    </div>
                    <div class="blog__details__direction">
                        <h6>Notes</h6>
                        <ul>

                            @{
                                int countNotes = 0;

                                foreach (var prep in Model.RecipeNotes)
                                {
                                    countNotes++;
                                    <li>
                                        <span>@countNotes .</span> @prep.RecipeNoteDescription
                                    </li>

                                }

                            }



                        </ul>
                    </div>
                    <div class="blog__details__print">
                        <a href="/Home/RecipePdfTemplate?recipeId=@Model.RecipeId" class="primary-btn"><i class="fa fa-print"></i> Print recipe</a>
                    </div>
                  
               
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->
